/* .container{
    display: none;
} */


li .cer {
margin: 0;
}

.container2 {
    border: 20px solid #f3f3f9;
    width: auto;
    height: auto;
    display: table-cell;
    vertical-align: middle;
}
/* .logo {
    color: #b9b6b6;
} */


.logo{
    color: #b9b6b6;
    font-size: 25px;
}


.marquee {
    color: #0c75ff;
    font-size: 114px;
    margin: 20px 20px;

    
}

.assignment {
    margin: 28px;
    font-size: 27px;
}

.person {
    border-bottom: 2px solid black;
    font-size: 32px;
    font-style: italic;
    margin: 50px auto;
    width: 400px;
}

.reason {
    margin: 33px;
    font-size: 22px;
}

.form {
    height: 465px;
    overflow-y: auto;
    /* padding-right: 20px; */
}

li.cer {

}

ul {
    list-style: none;
}

#printBut {
display: none;
}



#tableCont{
    display: none;
}

#myTable {
    display: flex;
    justify-content: center;
    background-color: #f3f3f9;
    font-size: 40px;
    margin-top: 0;
}

/* #printTable {
    margin-bottom: 20px;
    text-decoration: none;
    background-color: #193660;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
} */

tbody {
    display: flex;
}




th {
    background-color: #f3f3f9;
    display: block;
    font-size: 29px;
    padding: 0 22px;
    border-left: 1px solid;
    border-right: 1px solid;
    color: #193660;
}

td {
    display: block;
    border: #193660 1px solid;
    text-align: center;
    /* font-size: 29px; */
    padding: 10px 0;
    background-color: white;
}